
**/*.o
**/*.a
**/*.so
**/*.so.dSYM
**/*.dSYM
**/.DS_Store
**/*~
*.tar.gz

ffi/librosie/librosie_gen.c
ffi/librosie/librosie_gen.h
ffi/samples/C/rtest
ffi/samples/**/setvars
ffi/samples/nodejs/node_modules/*

src/c/repl/rosie
src/c/librosie/node_modules/*
src/c/librosie/go/src/ffi/libs/*
src/c/librosie/go/src/hello/

# These are symlinks within the repo:
src/c/librosie/go/src/ffi/librosie.c
src/c/librosie/go/src/ffi/librosie.h

bin
lpeg-1.0.0
lua-5.3.2
lua-cjson-2.1.0
