
**/*.o
**/*.a
**/*.so
**/*.so.dSYM
**/*.dSYM
**/.DS_Store
**/*~
*.tar.gz

# The bin and lib directories, and the files listed here, are created
# from scratch during the build
bin
lib
rosie.lua
build.log
librosie.a
librosie.so

# The CMake tool creates a build dir
build

# Places where object files are kept while building librosie
src/librosie/liblua/*
src/librosie/liblpeg/*
src/librosie/libcjson/*

# The following are symlinks within the repo


