
**/*.o
**/*.a
**/*.so
**/*.so.dSYM
**/*.dSYM
**/.DS_Store
**/*~
*.tar.gz

ffi/librosie/liblua/*
ffi/librosie/liblpeg/*
ffi/librosie/librosie_gen.c
ffi/librosie/librosie_gen.h
ffi/samples/C/rtest
ffi/samples/**/setvars
ffi/samples/nodejs/node_modules/*

# These directories are created and populated by the build
bin
lib

# This file is created by the build
rosie.lua
